/*
!.gitignore
!/img/
!/img/**
!/homeschool-app.jsx
!/HomeSchool.html
!/index.html
!/README.md
!/.github/
!/.github/**
!/js/
!/js/**
!/css/
!/css/**
!/vendor/
!/vendor/**
!/manifest.webmanifest
!/sw.js
